language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  
env:
  global:
    - secure: "VgWG6Ltj0VKvwnZTe2wh30ygmT22SrPZqZn0iXK1bzTuSPgQzt6z8JO9ioiUAN86ydZv0IsoCA0hFoKPEXPXV7c6ye1LZbfwpoDSKcFHvgrf4Mr7r8KK+tDYgv+CMWUehbi7QZ9FryLr4pH1hrlunsvkDVutXA7ShpVNcgTpKpDZki65WTDLOWAlrsAK8ue+b5RSSZY+hftRD5UH3Up7/pkloyhre7Cs1CsG1kfOww8lpsNA/gpoTdrZqfKgNfzt7tiyvZlZgUI4VKcFN+2Tg4nYuliR31s7GDxVOurXgKNkcCQqSQCxNZiCzBk6KQ5UltrDcvxWJkGmxgaGbD0NYtH1WQMlqevoufkrUVlXN8y9WNCRke43ApCBWeBCiqTbo6wgA25au4XCnGfH9uX/bjUGD7BQqW4b46KT2l2++rRjkyS7lu4m0Id5M9yAWDnTqVY18Odjjfs+HxbadHi2YUWqjRpyLsWk9gQRgakxdvAm6QDB81EIST71D+9U/sPqGAXLODlhmbxEu7SEG78+zeSvav6T1lX6nd8AtHihQWmrnW+SmltZ7iNaHOAnyB35vJ/NVlUp5CCWGggp9GslOdVbkuwAAwwFfOdyaVNPSarnrLythfLQuagBZP5mxJ/CYr8jMdNS619m+SQvwlRqRm476kI/jmnD/lj3O3zjKzw="

before_script:
  - chmod +x buildscripts/javadocs_publish.sh
  - chmod +x buildscripts/jar_publish.sh
script:
  - mvn -f security-headers/pom.xml test

after_success:
  - buildscripts/javadocs_publish.sh
  - buildscripts/jar_publish.sh